**Pandas Introduction**

In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

2.3.2

**Pandas has two types of data structures**
1-Series (1 dimensional)
2-Dataframe (2 dimensional)

In [3]:
s = pd.Series([10,2,3,4,5])

In [4]:
s

0    10
1     2
2     3
3     4
4     5
dtype: int64

**Series is a labeled array & list is an unlabeled array**

*Here 0,1,2,3,4 are indexes and the other are their corresponding values*

In [5]:
s1 = pd.Series([10,2,3,4,5],index=['a','b','v','f','g'])

In [6]:
s1

a    10
b     2
v     3
f     4
g     5
dtype: int64

In [7]:
df = pd.DataFrame({"names":["raza","hassan","ali"],"marks":[100,300,400]})

In [8]:
df

    names  marks
0    raza    100
1  hassan    300
2     ali    400

In [9]:
df1 = pd.read_csv("industry.csv")

In [10]:
df1

                         Industry  code
0              Accounting/Finance    12
1    Advertising/Public Relations    13
2              Aerospace/Aviation    14
3   Arts/Entertainment/Publishing    15
4                      Automotive    16
5                Banking/Mortgage    17
6            Business Development    18
7            Business Opportunity    19
8         Clerical/Administrative    20
9         Construction/Facilities    21
10                 Consumer Goods    22
11               Customer Service    23
12             Education/Training    24
13               Energy/Utilities    25
14                    Engineering    26
15            Government/Military    27
16                          Green    28
17                     Healthcare    29
18             Hospitality/Travel    30
19                Human Resources    31
20       Installation/Maintenance    32
21                      Insurance    33
22                       Internet    34
23                Job Search Aids    35
24       Law Enforcement/Security    36
25                          Legal    37
26           Management/Executive    38
27       Manufacturing/Operations    39
28                      Marketing    40
29           Non-Profit/Volunteer    41
30         Pharmaceutical/Biotech    42
31          Professional Services    43
32             QA/Quality Control    44
33                    Real Estate    45
34        Restaurant/Food Service    46
35                         Retail    47
36                          Sales    48
37               Science/Research    49
38                  Skilled Labor    50
39                     Technology    51
40             Telecommunications    52
41       Transportation/Logistics    53
42                          Other    54

In [11]:
df1.head()

                        Industry  code
0             Accounting/Finance    12
1   Advertising/Public Relations    13
2             Aerospace/Aviation    14
3  Arts/Entertainment/Publishing    15
4                     Automotive    16

In [12]:
df1.tail()

                    Industry  code
38             Skilled Labor    50
39                Technology    51
40        Telecommunications    52
41  Transportation/Logistics    53
42                     Other    54

In [13]:
df1.describe()

            code
count  43.000000
mean   33.000000
std    12.556539
min    12.000000
25%    22.500000
50%    33.000000
75%    43.500000
max    54.000000

In [14]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Industry  43 non-null     object
 1   code      43 non-null     int64
dtypes: int64(1), object(1)
memory usage: 820.0+ bytes

**Data Selection**

In [15]:
type(df1["code"])

pandas.core.series.Series

In [16]:
df1["code"]

0     12
1     13
2     14
3     15
4     16
5     17
6     18
7     19
8     20
9     21
10    22
11    23
12    24
13    25
14    26
15    27
16    28
17    29
18    30
19    31
20    32
21    33
22    34
23    35
24    36
25    37
26    38
27    39
28    40
29    41
30    42
31    43
32    44
33    45
34    46
35    47
36    48
37    49
38    50
39    51
40    52
41    53
42    54
Name: code, dtype: int64

**this show the first row**

In [17]:
df1.iloc[0]

Industry    Accounting/Finance
code                        12
Name: 0, dtype: object

In [18]:
df2 = pd.read_csv("data.csv")

In [19]:
df2

                         Industry  code
0              Accounting/Finance  12.0
1    Advertising/Public Relations   NaN
2              Aerospace/Aviation   NaN
3   Arts/Entertainment/Publishing  15.0
4                      Automotive  16.0
5                Banking/Mortgage  17.0
6            Business Development  18.0
7            Business Opportunity  19.0
8         Clerical/Administrative  20.0
9         Construction/Facilities  21.0
10                 Consumer Goods  22.0
11               Customer Service  23.0
12             Education/Training  24.0
13               Energy/Utilities  25.0
14                    Engineering  26.0
15            Government/Military  27.0
16                          Green  28.0
17                     Healthcare  29.0
18             Hospitality/Travel  30.0
19                Human Resources  31.0
20       Installation/Maintenance  32.0
21                      Insurance  33.0
22                       Internet  34.0
23                Job Search Aids  35.0
24       Law Enforcement/Security  36.0
25                          Legal  37.0
26           Management/Executive  38.0
27       Manufacturing/Operations  39.0
28                      Marketing  40.0
29           Non-Profit/Volunteer  41.0
30         Pharmaceutical/Biotech  42.0
31          Professional Services  43.0
32             QA/Quality Control  44.0
33                    Real Estate  45.0
34        Restaurant/Food Service  46.0
35                         Retail  47.0
36                          Sales  48.0
37               Science/Research  49.0
38                  Skilled Labor  50.0
39                     Technology  51.0
40             Telecommunications  52.0
41       Transportation/Logistics  53.0
42                          Other  54.0

**to drop rows with missing data**

In [20]:
df2.dropna()

                         Industry  code
0              Accounting/Finance  12.0
3   Arts/Entertainment/Publishing  15.0
4                      Automotive  16.0
5                Banking/Mortgage  17.0
6            Business Development  18.0
7            Business Opportunity  19.0
8         Clerical/Administrative  20.0
9         Construction/Facilities  21.0
10                 Consumer Goods  22.0
11               Customer Service  23.0
12             Education/Training  24.0
13               Energy/Utilities  25.0
14                    Engineering  26.0
15            Government/Military  27.0
16                          Green  28.0
17                     Healthcare  29.0
18             Hospitality/Travel  30.0
19                Human Resources  31.0
20       Installation/Maintenance  32.0
21                      Insurance  33.0
22                       Internet  34.0
23                Job Search Aids  35.0
24       Law Enforcement/Security  36.0
25                          Legal  37.0
26           Management/Executive  38.0
27       Manufacturing/Operations  39.0
28                      Marketing  40.0
29           Non-Profit/Volunteer  41.0
30         Pharmaceutical/Biotech  42.0
31          Professional Services  43.0
32             QA/Quality Control  44.0
33                    Real Estate  45.0
34        Restaurant/Food Service  46.0
35                         Retail  47.0
36                          Sales  48.0
37               Science/Research  49.0
38                  Skilled Labor  50.0
39                     Technology  51.0
40             Telecommunications  52.0
41       Transportation/Logistics  53.0
42                          Other  54.0

In [21]:
df2.fillna(0,inplace=True)

**fillna(0,inplace=True) inplace true changes the original data so it's not recommended for most of the cases**

In [22]:
df2.rename(columns={"code":"Product Code"},inplace=True)

In [23]:
df2

                         Industry  Product Code
0              Accounting/Finance          12.0
1    Advertising/Public Relations           0.0
2              Aerospace/Aviation           0.0
3   Arts/Entertainment/Publishing          15.0
4                      Automotive          16.0
5                Banking/Mortgage          17.0
6            Business Development          18.0
7            Business Opportunity          19.0
8         Clerical/Administrative          20.0
9         Construction/Facilities          21.0
10                 Consumer Goods          22.0
11               Customer Service          23.0
12             Education/Training          24.0
13               Energy/Utilities          25.0
14                    Engineering          26.0
15            Government/Military          27.0
16                          Green          28.0
17                     Healthcare          29.0
18             Hospitality/Travel          30.0
19                Human Resources          31.0
20       Installation/Maintenance          32.0
21                      Insurance          33.0
22                       Internet          34.0
23                Job Search Aids          35.0
24       Law Enforcement/Security          36.0
25                          Legal          37.0
26           Management/Executive          38.0
27       Manufacturing/Operations          39.0
28                      Marketing          40.0
29           Non-Profit/Volunteer          41.0
30         Pharmaceutical/Biotech          42.0
31          Professional Services          43.0
32             QA/Quality Control          44.0
33                    Real Estate          45.0
34        Restaurant/Food Service          46.0
35                         Retail          47.0
36                          Sales          48.0
37               Science/Research          49.0
38                  Skilled Labor          50.0
39                     Technology          51.0
40             Telecommunications          52.0
41       Transportation/Logistics          53.0
42                          Other          54.0

In [24]:
df2.describe()

       Product Code
count     43.000000
mean      32.372093
std       13.820315
min        0.000000
25%       22.500000
50%       33.000000
75%       43.500000
max       54.000000

In [25]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Industry      43 non-null     object
 1   Product Code  43 non-null     float64
dtypes: float64(1), object(1)
memory usage: 820.0+ bytes

In [26]:
df2['Product Code'] = df2['Product Code'].astype(int)

In [27]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Industry      43 non-null     object
 1   Product Code  43 non-null     int64
dtypes: int64(1), object(1)
memory usage: 820.0+ bytes

**astype changes the type from float to integer**

df2

In [30]:
len(df2)

43

**To add a new column**

In [34]:
df2["ones"]= [2 for i in range(len(df2))]

In [35]:
df2

                         Industry  Product Code  ones
0              Accounting/Finance            12     2
1    Advertising/Public Relations             0     2
2              Aerospace/Aviation             0     2
3   Arts/Entertainment/Publishing            15     2
4                      Automotive            16     2
5                Banking/Mortgage            17     2
6            Business Development            18     2
7            Business Opportunity            19     2
8         Clerical/Administrative            20     2
9         Construction/Facilities            21     2
10                 Consumer Goods            22     2
11               Customer Service            23     2
12             Education/Training            24     2
13               Energy/Utilities            25     2
14                    Engineering            26     2
15            Government/Military            27     2
16                          Green            28     2
17                     Healthcare            29     2
18             Hospitality/Travel            30     2
19                Human Resources            31     2
20       Installation/Maintenance            32     2
21                      Insurance            33     2
22                       Internet            34     2
23                Job Search Aids            35     2
24       Law Enforcement/Security            36     2
25                          Legal            37     2
26           Management/Executive            38     2
27       Manufacturing/Operations            39     2
28                      Marketing            40     2
29           Non-Profit/Volunteer            41     2
30         Pharmaceutical/Biotech            42     2
31          Professional Services            43     2
32             QA/Quality Control            44     2
33                    Real Estate            45     2
34        Restaurant/Food Service            46     2
35                         Retail            47     2
36                          Sales            48     2
37               Science/Research            49     2
38                  Skilled Labor            50     2
39                     Technology            51     2
40             Telecommunications            52     2
41       Transportation/Logistics            53     2
42                          Other            54     2

In [40]:
def fx(a):
    return a+2
df2[ "ones+2" ]= df2[ "ones" ] .apply(fx)

In [41]:
df2

                         Industry  Product Code  ones  ones+2
0              Accounting/Finance            12     2       4
1    Advertising/Public Relations             0     2       4
2              Aerospace/Aviation             0     2       4
3   Arts/Entertainment/Publishing            15     2       4
4                      Automotive            16     2       4
5                Banking/Mortgage            17     2       4
6            Business Development            18     2       4
7            Business Opportunity            19     2       4
8         Clerical/Administrative            20     2       4
9         Construction/Facilities            21     2       4
10                 Consumer Goods            22     2       4
11               Customer Service            23     2       4
12             Education/Training            24     2       4
13               Energy/Utilities            25     2       4
14                    Engineering            26     2       4
15            Government/Military            27     2       4
16                          Green            28     2       4
17                     Healthcare            29     2       4
18             Hospitality/Travel            30     2       4
19                Human Resources            31     2       4
20       Installation/Maintenance            32     2       4
21                      Insurance            33     2       4
22                       Internet            34     2       4
23                Job Search Aids            35     2       4
24       Law Enforcement/Security            36     2       4
25                          Legal            37     2       4
26           Management/Executive            38     2       4
27       Manufacturing/Operations            39     2       4
28                      Marketing            40     2       4
29           Non-Profit/Volunteer            41     2       4
30         Pharmaceutical/Biotech            42     2       4
31          Professional Services            43     2       4
32             QA/Quality Control            44     2       4
33                    Real Estate            45     2       4
34        Restaurant/Food Service            46     2       4
35                         Retail            47     2       4
36                          Sales            48     2       4
37               Science/Research            49     2       4
38                  Skilled Labor            50     2       4
39                     Technology            51     2       4
40             Telecommunications            52     2       4
41       Transportation/Logistics            53     2       4
42                          Other            54     2       4

In [46]:
df2.to_csv("export.csv",index=False)

In [47]:
df3 = pd.DataFrame({
    "names":["raza","ali"],
    "marks" :[100,200]
})

In [48]:
df3

  names  marks
0  raza    100
1   ali    200

In [50]:
df4 = pd.DataFrame({
    "names":["hassan","jacob"],
    "marks":[400,500]
})

In [51]:
df4

    names  marks
0  hassan    400
1   jacob    500

In [52]:
pd.concat([df3,df4])

    names  marks
0    raza    100
1     ali    200
0  hassan    400
1   jacob    500