**Pandas Introduction**

In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

2.3.2

**Pandas has two types of data structures**
1-Series
2-Dataframe

In [3]:
s = pd.Series([10,2,3,4,5])

In [4]:
s

0    10
1     2
2     3
3     4
4     5
dtype: int64

**Series is a labeled array & list is an unlabeled array**

*Here 0,1,2,3,4 are indexes and the other are their corresponding values*

In [8]:
s1 = pd.Series([10,2,3,4,5],index=['a','b','v','f','g'])

In [9]:
s1

a    10
b     2
v     3
f     4
g     5
dtype: int64

In [10]:
df = pd.DataFrame({"names":["raza","hassan","ali"],"marks":[100,300,400]})

In [11]:
df

    names  marks
0    raza    100
1  hassan    300
2     ali    400